In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/before_split/train.csv")
df.loc[pd.isna(df.review),'review']='NA'
df.head()

             id  label                                             review
0  train_000000      0  "Dung dc sp tot cam on shop Đóng gói sản phẩm ...
1  train_000001      0  " Chất lượng sản phẩm tuyệt vời   Son mịn nhưn...
2  train_000002      0  " Chất lượng sản phẩm tuyệt vời nhưng k có hộp...
3  train_000003      1  ":(( Mình hơi thất vọng 1 chút vì mình đã kỳ v...
4  train_000004      1  "Lần trước mình mua áo gió màu hồng rất ok mà ...

In [3]:
df.shape

(16073, 3)

In [4]:
train_split = df.sample(frac=0.7,random_state=200)
test_split = df.drop(train_split.index)

In [5]:
train_split.shape

(11251, 3)

In [6]:
test_split.shape

(4822, 3)

In [7]:
train_split.head()

                 id  label                                             review
15395  train_015409      0  "Ối zời ơi, ngon quá xá luôn Ngon ngoài sức tư...
12865  train_012871      1  "cho hỏi shop hàng  mình nhận được  roi   nhưn...
11574  train_011577      0                               "Rẻ mà đẹp rất ok "
2987   train_002987      1  "Sách in thiếu chữ nửa trang giấy có các trang...
4779   train_004779      1  "Mới bỏ vào máy giặt có 1 lần đã hư rồi  Chất ...

In [8]:
train_split.to_csv("../data/train.csv")
test_split.to_csv("../data/test.csv")